* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    background: grey;
}

.newtown {
  overflow:hidden;
  margin-right: 560px;
  margin-bottom: 50px;
  padding: 7px;
  background: white;
  border-top: 6px solid #0974b3;
}
.text1 {
  float: right;
  margin: 20px 10px;
}
.img1 {
  float: left;
  width: 150px;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
}
.color1 {
  margin-left: 10px;
  color: #666;
}
.name1 {
  margin-left: 10px;
  color: #0974b3;
}


.einstein {
  display: inline-block;
  margin-right: 1050px;
  padding: 20px 15px 50px;
  background: white;
  border-top: 6px solid #0974b3;
}
.text2 {
  float:right;
}
.img2 {
  float: left;
  width: 150px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
  object-fit: cover;
}
.color2 {
  color: #666;
}
.name2 {
  color: #0974b3;
}


.tesla {
  overflow: hidden;
  width: 430px;
  height: 455px;
  margin: -485px 560px 0px auto;
  padding: 35px 15px 445px;
  background: white;
  border-top: 6px solid #0974b3;
}
  .text3 {
    margin-top: -30px;
    float:left;
    overflow: hidden;
}

.img3 {
  float: left;
  width: 150px;
  height: 200px;
  margin-right: 20px;
  margin-top: 45px;
  object-fit: cover;
}
.name3 {
  margin-top: -10px;
  color: #0974b3;
}
.color3 {
  color: #666;
}
